<section class="py-5">
  <div class="container">
    <h1>Insitutions Page</h1>
  </div>
  <div class="btn-text-container">
    <p class="btn-text-container-text">Add a new institution:</p>
    <button class="btn-all btn-sec btn-small">NEW</button>
  </div>
</section>
