<section class="container py-5">
  <%# <div class="container"> %>
    <h1>Insitutions Page</h1>
  <%# </div> %>
  <div class="btn-text-container">
    <p class="btn-text-container-text">Add a new institution:</p>
    <button class="btn-all btn-sec btn-small">NEW</button>
  </div>
  <% @institutions.each do |institution| %>
    <div class="card-all card-two-columns">
    <div>
      <h3><%= institution.name %></h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo mollitia inventore temporibus beatae pariatur rem at, itaque fugit tempora natus voluptates facere dicta, in iure labore soluta, quod officia saepe.</p>
      <p>Website: <%= link_to "#{institution.website_url}", institution.website_url %></p>
      <button class="btn-all btn-primary">EDIT</button>
    </div>
    <% if institution.video_url %>
      <div>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
      </div>
    <% end %>
  </div>
  <% end %>
</section>
