<p><%= question.question %></p>
<%= link_to edit_question_path(question), remote: true, class: "btn-link" do %>
  <button class="btn-all btn-sec my-2 mr-3">EDIT</button>
<% end %>
<%= link_to question_path(question),
  method: :delete,
  data: { confirm: "Are you sure you want to delete this question?" },
  remote: true do %>
  <button class='btn-all btn-sec my-2'>REMOVE</button>
<% end %>
