// FONTS
// Montserrat
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat/Montserrat-Regular.ttf");
}
// Roboto
@font-face {
  font-family: "Roboto";
  src: url("Roboto/Roboto-Regular.ttf");
}

// TYPOGRAPHY
$body-font: "Roboto", "sans-serif";
$headers-font: "Montserrat", "Roboto", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
