.icon-large {
  font-size: 80px;
  width: 90px;
  color: #B1CDFD;
  padding-top: 10px;
  margin-right: 50px;
}

.team-description {
  max-width: 700px;
  p {
    margin-top: 1.5rem;
  }
}

@media (max-width: 880px) {
  .icon-large {
    font-size: 60px;
  }

  .team-description {
    position: relative;
  }

  .team-description h3 {
    position: absolute;
    top: -60px;
    left: 100px;
  }
}

@media (max-width: 440px) {
  .team-description h3 {
    top: -60;
  }
}
