<main>
  <section class="py-5">
    <div class="container">
      <h1>Take action!</h1>
      <p class="mb-5">Ready to get involved in policymaking? Find out with who and how:</p>
      <% @organisations.each do |organisation| %>
        <%= render 'organisations/partials/organisation_card', organisation: organisation %>
      <% end %>
    </div>
  </section>
</main>
