<footer>
  <div class="container d-flex justify-content-between flex-column flex-lg-row horizontal-list">
    <div>
      <ul>
        <li>Follow us</li>
        <li><a href="https://www.facebook.com/openpolicyeurope" target="_blank" aria-label="Facebook" class="footer-link"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://instagram.com/openpolicyeurope" target="_blank" aria-label="Instagram" class="footer-link"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/company/openpolicy-europe/" target="_blank" aria-label="LinkedIn" class="footer-link"><i class="fab fa-linkedin"></i></a></li>
      </ul>
      <p class="footer-email"><a href="mailto:info@openpolicy.eu" class="footer-link">info@openpolicy.eu</a></p>
    </div>
    <p class="footer-origins">The OpenPolicy Europe is a project from the <a href="https://youthenergy.eu" target="_blank" class="footer-link">European Youth Energy Network</a></p>
  </div>
</footer>
