<section class="py-5 bkg-blue">
  <div class="container d-flex justify-content-between flex-column flex-lg-row">
    <div class="container-half d-flex justify-content-center align-items-center img-left">
      <img class="img-height-300" src="https://res.cloudinary.com/dhnsnkxbe/image/upload/v1630965968/openpolicyeu/Teamwork-color_1_copy_pcroob.png" alt="">
    </div>
    <div class="container-half description-right">
      <h2><mark class="mark-yllw">Join OpenPolicy Europe</mark></h2>
      <p>We are looking for more people to <strong>help us turn this idea into reality</strong>.</p>
      <p>Do you believe that policymaking should be more collaborative and inclusive? Find out how you can make it happen:</p>
      <%= link_to join_path(anchor: 'nav') do %><button class="btn-all btn-yllw">Join us</button><% end %>
    </div>
  </div>
</section>
