<main>
  <h1 class="container my-5">About us</h1>
  <section class="pb-5">
    <div class="container d-flex justify-content-between flex-column flex-lg-row">
      <div class="container-half">
        <h2><mark class="mark-yllw">Why?</mark></h2>
        <p>Today, there is a <strong>lack of youth engagement in policymaking</strong>. On one hand, we (yes, young people talking here) feel decision-makers do not account for our needs and priorities and the decision-making process lacks transparency. On the other hand, decision-makers need more concrete and useful proposals, which can be discussed and considered.</p>
        <p>Our lack of understanding of the policymaking process keeps us from participating in a more effective way. We decided to <strong>build OpenPolicy Europe to fix this</strong>.</p>
      </div>
      <div class="container-half d-flex justify-content-center align-items-center">
        <img class="img-height-350" src="https://res.cloudinary.com/dhnsnkxbe/image/upload/v1628700838/openpolicyeu/knowledge_base_e4kfgd.png" alt="">
      </div>
    </div>
  </section>
  <section class="pb-5">
    <div class="container d-flex justify-content-between flex-column flex-lg-row">
      <div class="container-half d-flex justify-content-center align-items-center img-left">
        <img class="img-height-350" src="https://res.cloudinary.com/dhnsnkxbe/image/upload/v1628700838/openpolicyeu/officemate_lqodph.png" alt="">
      </div>
      <div class="container-half description-right">
        <h2><mark class="mark-yllw">What is</mark><mark class="mark-yllw">OpenPolicy Europe?</mark></h2>
        <p>OpenPolicy Europe is the first <strong>digital hub</strong> for <strong>understanding and engaging with policy</strong> at European and Member State levels. It is a tool that allows you to get a better understanding of how the policymaking process works, who’s involved, what policies are in place where, and how you can get involved in policy making.</p>
        <p>We want to overcome the perception of policy being distant and overwhelming, and encourage active citizenship through engagement with authorities and policymakers at national and European levels.</p>
      </div>
    </div>
  </section>
  <section class="bkg-blue py-5">
    <div class="container-short">
      <h2><mark class="mark-yllw">Our Story</mark></h2>
      <p>In March 2021, a team representing the <a href="https://youthenergy.eu" target="_blank" class="text-link">European Youth Energy Network (EYEN)</a> won the SOLVE THE GAP - 48h EU Youth Digital Hackathon with the idea for OpenPolicy Europe.</p>
      <div class="blockquote-our">
        <div class="blockquote-bar"></div>
        <p><strong>EYEN</strong> is the European network of energy-focused youth organisations from across Europe, whose mission is to place youth at the heart of the European energy transition. How? EYEN empowers these organisations by connecting them to each other and to actors in the energy sector and by sharing knowledge about the energy transition on European and national levels.</p>
      </div>
      <p>The SOLVE THE GAP - 48h EU Youth Digital Hackathon was organised by the <a href="http://www.cnj.pt/" target="_blank" class="text-link">Portuguese Conselho Nacional de Juventude</a>, in the framework of the <a href="https://youth2021portugal.eu" target="_blank" class="text-link">European Youth Conference in Portugal</a> (12<sup>th</sup>-15<sup>th</sup> March) and the <a href="https://parleu2021.parlamento.pt/index?lingua=EN" target="_blank" class="text-link">Portuguese Presidency of the Council of the European Union</a>, under the auspices of the <a href="https://ec.europa.eu/info/index_en" target="_blank" class="text-link">European Commission</a>.</p>
      <p>During those 48h, we created the basic concept of OpenPolicy Europe, <strong><a href="https://www.youtube.com/watch?v=1bNlTQ2EhnE" target="_blank" class="text-link">watch our winning pitch here</a></strong>. We then started developing and turning it into reality, with the support of the <a href="https://europa.eu/youth/home_en" target="_blank" class="text-link">European Youth Portal</a>. The tool was launched at the European Youth Conference under the Slovenian presidency in September 2021, you can <strong><a href="https://touch.facebook.com/euyouthconf/videos/539776757099676/?_rdr" target="_blank" class="text-link">watch our presentation here</a></strong>.</p>
    </div>
  </section>
  <section class="container py-5 text-center">
    <h2><mark class="mark-yllw">Meet the people</mark><mark class="mark-yllw">behind it</mark></h2>
    <p class="text-center">These are the volunteers who contributed for the creation of OpenPolicy Europe</p>
    <div class="row pt-4">
      <% @volunteers.each do |volunteer| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 volunteer">
          <%= cl_image_tag volunteer.photo.key, crop: :thumb, height: 300, width: 300, class:"avatar-large" %>
          <p><strong><%= volunteer.name %></strong></p>
          <p class="volunteer-role"><em><%= volunteer.role %></em></p>
          <% if volunteer.linkedin_link %>
            <%= link_to volunteer.linkedin_link, target:"_blank", aria_label:"LinkedIn", class:"icon-link" do %>
              <i class="fab fa-linkedin"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
</main>
