<main>
  <h1 class="container my-5">About us</h1>
  <section class="pb-5">
    <div class="container d-flex justify-content-between">
      <div class="w-50">
        <h2><mark class="mark-yllw">Why?</mark></h2>
        <p>Today, there is a <strong>lack of youth engagement in policymaking</strong>. On one hand, we (yes, young people talking here) feel decision-makers do not account for our needs and priorities and the decision-making process lacks transparency. On the other hand, decision-makers need more concrete and useful proposals, which can be discussed and considered.</p>
        <p>Our lack of understanding of the policymaking process keeps us from participating in a more effective way. We decided to <strong>build OpenPolicy Europe to fix this</strong>.</p>
      </div>
      <div class="w-50 d-flex justify-content-center align-items-center">
        <img src="./assets/knowledge_base.png">
      </div>
    </div>
  </section>
  <section class="pb-5">
    <div class="container d-flex justify-content-between">
      <div class="w-50 d-flex justify-content-center align-items-center img-left">
        <img src="./assets/officemate.png">
      </div>
      <div class="w-50 description-right">
        <h2><mark class="mark-yllw">What is OpenPolicy Europe?</mark></h2>
        <p>OpenPolicy Europe will be the first <strong>digital hub</strong> for <strong>understanding and engaging with policy</strong> at European and Member State levels. It is a tool that allows you to get a better understanding of how the policymaking process works, who’s involved, what policies are in place where, and how you can get involved in policy making.</p>
        <p>We want to overcome the perception of policy being distant and overwhelming, and encourage active citizenship through engagement with authorities and policymakers at national and European levels.</p>
      </div>
    </div>
  </section>
  <section class="bkg-blue py-5">
    <div class="container-short">
      <h2><mark class="mark-yllw">Our Story</mark></h2>
      <p>In March 2021, a team representing the <a href="https://youthenergy.eu" target="_blank" class="text-link">European Youth Energy Network (EYEN)</a> won the SOLVE THE GAP - 48h EU Youth Digital Hackathon with the idea for OpenPolicy Europe.</p>
      <div class="blockquote-our">
        <div class="blockquote-bar"></div>
        <p><strong>EYEN</strong> is the European network of energy-focused youth organisations from across Europe, whose mission is to place youth at the heart of the European energy transition. How? EYEN empowers these organisations by connecting them to each other and to actors in the energy sector and by sharing knowledge about the energy transition on European and national levels.</p>
      </div>
      <p>The SOLVE THE GAP - 48h EU Youth Digital Hackathon was organised by the <a href="http://www.cnj.pt/" target="_blank" class="text-link">Portuguese Conselho Nacional de Juventude</a>, in the framework of the <a href="https://youth2021portugal.eu/events/european-union-youth-conference/" target="_blank" class="text-link">European Youth Conference in Portugal</a> (12<sup>th</sup>-15<sup>th</sup> March) and the <a href="https://www.2021portugal.eu/en/" target="_blank" class="text-link">Portuguese Presidency of the Council of the European Union</a>, under the auspices of the <a href="https://ec.europa.eu/info/index_en" target="_blank" class="text-link">European Commission</a>.</p>
      <p>During those 48h, we created the basic concept of OpenPolicy Europe, which we are now developing and turning into reality, with the support of the <a href="https://europa.eu/youth/home_en" target="_blank" class="text-link">European Youth Portal</a>. The tool will be launched at the European Youth Conference under the Slovenian presidency in September 2021.</p>
    </div>
  </section>
  <section class="py-5">
    <div class="container-short">
      <h2><mark class="mark-yllw">Show me your idea in action</mark></h2>
      <p>Watch our winning pitch for the hackathon to better understand how our idea works (note that the initial name of this project was “European Policy Hub”):</p>
      <iframe class="video my-5" src="https://www.youtube.com/embed/RjxLOCMWYRg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p class="text-center mb-5">Do you want to help us in realising this idea? <a href="join.html" class="text-link">Join us</a></p>
    </div>
  </section>
</main>
