<header class="header-banner">
  <%= render 'shared/navbar' %>
  <div class="container banner">
    <div class="w-50">
      <h1>OpenPolicy Europe</h1>
      <p>The digital hub for understanding and engaging with policymaking</p>
      <a href="join.html"><button class="btn-all btn-yllw">Join us</button></a>
    </div>
  </div>
</header>

