<div class="container-short">
  <h2><mark class="mark-yllw">How does</mark><mark class="mark-yllw">policymaking work?</mark></h2>
  <p>In parliamentary democracies, the policy process is not linear, as it is based on the information available and new discoveries. This process is a flexible and collaborative framework. That’s how it goes:</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex mt-3 policy-step">
      <div class="number">1</div>
      <div>
        <h3><mark class="mark-blue">Problem emergence</mark></h3>
        <p>A crisis (financial, sanitary, etc) or a long-existing problem which previous policies did not solve comes to the forefront of a government political agenda.</p>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex mt-3 policy-step">
      <div class="number">2</div>
      <div>
        <h3><mark class="mark-blue">Agenda-setting</mark></h3>
        <p>Based on government priorities and availability of resources to dedicate to the problem. Public opinion (yours!) and the media can influence the agenda (e.g: Fridays for Future).</p>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex mt-3 policy-step">
      <div class="number">3</div>
      <div>
        <h3><mark class="mark-blue">Consideration</mark> of <mark class="mark-blue">policy options</mark></h3>
        <p>Policy makers inform themselves on the topic (and ask for independent research if needed), to draft a policy proposal. Ideally, one of the proposals is chosen only by looking at each costs and benefits ("rational choice" theory). In practice, political beliefs also come into play.</p>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex mt-3 policy-step">
      <div class="number">4</div>
      <div>
        <h3><mark class="mark-blue">Decision-making process</mark></h3>
        <p>The legislative process varies a lot from country to country, but it always ends with the legislative authorities voting on the proposal. If it gets a green light, we move to the next step. If not, sometimes it can be changed and re-submitted.</p>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex mt-3 policy-step">
      <div class="number">5</div>
      <div>
        <h3><mark class="mark-blue">Implementation</mark></h3>
        <p>The executive body decides what's the best way to put the adopted legislation into practice, and applies it using different procedures and regulatory bodies. Usually it needs to be harmonized among different levels (e.g: national and EU levels).</p>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex mt-3 policy-step">
      <div class="number">6</div>
      <div>
        <h3><mark class="mark-blue">Evaluation</mark></h3>
        <p>Determination of the results of the implemented policy (also ex-post <a href="https://www.collinsdictionary.com/dictionary/english/policy" target="_blank" class="text-link">policy analysis</a>). There are dedicated bodies to monitor these results (the effects, the costs...). Sometimes, there are unexpected outcomes (positive or negative)!</p>
      </div>
    </div>
  </div>
</div>
