<main>
  <h1 class="container my-5">Ambassadors Programme</h1>
  <section class="pb-5">
  <div class="container d-flex justify-content-between flex-column flex-lg-row">
    <div class="container-half">
      <h2><mark class="mark-yllw">What is it?</mark></h2>
      <p>MISSING</p>
    </div>
    <div class="container-half d-flex justify-content-center align-items-center">
      <img class="img-height-350" src="https://res.cloudinary.com/dqmjwsj8t/image/upload/v1636241155/permanent_assets/ambassador_o5avic.png" alt="">
    </div>
  </div>
  </section>
  <section class="pb-5">
    <div class="container d-flex justify-content-between flex-column flex-lg-row">
      <div class="container-half d-flex justify-content-center align-items-center img-left">
        <img class="img-height-350" src="https://res.cloudinary.com/dqmjwsj8t/image/upload/v1636241155/permanent_assets/network_jyt6u8.png" alt="">
      </div>
      <div class="container-half description-right">
        <h2><mark class="mark-yllw">What's in there for you?</mark></h2>
        <p>We value our collaboration and want to make sure it’s a two-way street. Here are some of the ways we will give back to you:</p>
        <ul>
          <li>You will be invited to join our online Ambassador Community on Slack where we will share information, post opportunities related to youth engagement and where you can network with fellow OpenPolicy Europe Ambassadors;</li>
          <li>You will be listed on the Ambassadors section of our website;</li>
          <li>Your content will be reposted on our social media;</li>
          <li>You will receive a certificate upon the completion of the program.</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="bkg-blue py-5">
    <div class="container-short">
      <h2><mark class="mark-yllw">You are an ideal candidate if you...</mark></h2>
      <p>🤔 Care about youth engagement, social issues and public policy;</p>
      <p>🙌 Are eager to network, communicate with other people and have fun;</p>
      <p>👀 Actively post on at least two public social media pages and/or websites in English.</p>
      <h2><mark class="mark-yllw mt-5">What we ask from you</mark></h2>
      <p>We will ask you to complete a short training so that you are well informed about our activities and values (approximately 5 hours).</p>
      <p>After that we will ask you to share 3-5 mentions/month across your platforms of choice throughout the duration of the program.</p>
    </div>
  </section>
  <section class="container py-5 text-center">
    <h2><mark class="mark-yllw">How can I join?</mark></h2>
    <p>Fill in the application form below. We look forward to hearing from you!</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScZ7z8RQQ9th2gMQbPXGTyeAL4JjrL7nMTdSvltOm1q6abvrw/viewform?usp=sf_link" target="_blank"><button class="btn-all btn-prim">Apply</button></a>
  </section>
</main>
