<% game_answers.each do |game_answer| %>
  <% if game_answer.id == selected_answer.id %>
    <div class="d-flex card-all card-answer <%= game_answer.right ? 'card-answer-right' : 'card-answer-wrong' %>">
  <% else %>
    <div class="d-flex card-all card-answer">
  <% end %>
      <% if game_answer.right %>
        <i class="selector-right fas fa-check-circle"></i>
      <% else %>
        <i class="selector-wrong fas fa-times-circle"></i>
      <% end %>
      <p><%= game_answer.answer %></p>
    </div>
<% end %>
<p class="answer-explanation"><%= selected_answer.explanation %></p>
