<div class="container">
  <h2><mark class="mark-yllw">Gamebook</mark></h2>
  <div id="game-questions">
    <%= render 'policy_plans/partials/game_question', game_questions: game_questions, game_question: next_question, game_answers: next_answers %>
  </div>
</div>
