<div class="container">
  <h2><mark class="mark-yllw">Gamebook</mark></h2>
  <div id="game-questions">
    <%= render 'policy_plans/partials/game_question', questions: game_questions, question: next_question, answers: next_answers %>
  </div>
</div>
