<% game_questions.each do |game_question| %>
  <div class="card-all my-3">
    <div class="px-4">
      <div id="game_question-<%= game_question.id %>">
        <%= render 'policy_plans/partials/show_game_question_edit_pp', game_question: game_question %>
      </div>
    </div>
  </div>
<% end %>
