<div class="card-all my-3">
  <div class="px-4">
    <h3><mark class="mark-blue"><%= ppi.institution.name %></mark></h3>
    <p><%= ppi.description %></p>
    <%= link_to edit_policy_plan_institution_path(ppi), class: 'btn-link', remote: true do %>
      <button class='btn-all btn-sec mr-3'>EDIT</button>
    <% end %>
    <%= link_to policy_plan_institution_path(ppi),
        method: :delete,
        data: { confirm: "Are you sure you want to delete this Institution?" },
        remote: true do %>
      <button class='btn-all btn-sec'>REMOVE</button>
    <% end %>
  </div>
</div>
