<main>
  <section class="py-5">
    <div class="container-short text-center">
      <h1>We're sorry, but something went wrong</h1>
      <%= image_tag('https://res.cloudinary.com/dqmjwsj8t/image/upload/v1632250634/permanent_assets/Website_Under_Construction_kpbndj.png', class: 'img-width-400') %>
      <p>Something went wrong on our end. We'll be grateful if you report the issue to <a href="mailto:info@openpolicy.eu" class="text-link">info@openpolicy.eu</a> and tell us what happened before you reached this page.</p>
      <%= link_to :back do %>
        <button class="btn-all btn-prim">Back</button>
      <% end %>
    </div>
  </section>
</main>
