<main>
  <section class="py-5">
    <div class="container text-center">
      <h1>The page you were looking for doesn't exist</h1>
      <%= image_tag('https://res.cloudinary.com/dqmjwsj8t/image/upload/v1632249778/permanent_assets/Error-404_m1zync.png', class: 'img-width-400') %>
      <p>You may have mistyped the address or the page may have moved.</p>
      <%= link_to :back do %>
        <button class="btn-all btn-prim">Back</button>
      <% end %>
    </div>
  </section>
</main>
