<main>
  <section class="py-5">
    <div class="container text-center">
      <h1>The change you wanted was rejected</h1>
      <%= image_tag('https://res.cloudinary.com/dqmjwsj8t/image/upload/v1632250634/permanent_assets/Decline_Request_a8kwiw.png', class: 'img-width-400') %>
      <p>Maybe you tried to change something you didn't have access to.</p>
      <%= link_to :back do %>
        <button class="btn-all btn-prim">Back</button>
      <% end %>
    </div>
  </section>
</main>
