.blockquote-our {
  display: flex;
  width: 90%;
  margin: 2em 0 2em auto;
  position: relative;
}

.blockquote-our p {
  z-index: 1;
  margin: 0;
}

.blockquote-bar {
  min-width: 1.5em;
  height: 100%;
  background-color: #B1CDFD;
  position: absolute;
  left: -0.8em;
}
