.btn-all {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 30px;
  border: none;
  margin: 20px 0;
  cursor: pointer;
}

.btn-prim {
  color: #fff;
  background-color: $blue;
  &:hover {
    color: #fff;
    background-color: $blue_hover;
  }
}

.btn-sec {
  color: $blue;
  border: solid 2px $blue;
  background-color: #fff;
  &:hover {
    color: #fff;
    background-color: $blue;
  }
}

.btn-small {
  width: 83px;
  height: 36px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  padding: 0;
  border-width: 3px;
  box-shadow: 1px 0 3px rgba(54, 54, 54, 0.2);
}

.btn-yllw {
  color: $blue;
  background-color: $yellow;
  &:hover {
    color: $blue;
    background-color: $yellow_hover;
  }
}

.btn-link:hover {
  text-decoration: none;
}

// Button text container where the button has text preceeding it
.btn-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  .btn-text-container-text {
    margin: auto 20px auto 0;
  }
}
