.btn-all {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 30px;
  border: none;
  margin: 20px 0;
  cursor: pointer;
}

.btn-prim {
  color: #FFF;
  background-color: $blue;
  &:hover {
    color: #FFF;
    background-color: $blue_hover;
  }
}

.btn-sec {
  color: $blue;
  border: solid 2px $blue;
  background-color: #fff;
  &:hover {
    color: #FFF;
    background-color: $blue;
  }
}

.btn-yllw {
  color: $blue;
  background-color: $yellow;
  &:hover {
    color: $blue;
    background-color: $yellow_hover;
  }
}

.btn-link:hover {
  text-decoration: none;
}

