.card-all {
  background-color: #fff;
  border-radius: 35px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 20px;
}

.card-clickable:hover {
  box-shadow: 0 2px 10px rgba(177,205,253,1);
}

.card-selected {
  border: solid 2px $blue_light;
  background-color: $blue_bkg;
}

.card-large {
  margin: 30px 15px;
}

.card-large-column {
  padding: 0 20px;
}

.card-square {
  min-width: 220px;
  width: 220px;
  height: 220px;
  text-align: center;
  img {
    margin-bottom: 20px;
  }
  p {
    margin: 0 0 0.5em 0;
    line-height: 1.1em;
  }
}

.card-answer {
  margin: 10px 0;
  align-items: center;
  p {
    margin: 0 0 0 1em;
    line-height: 1.1em;
  }
}

.selector {
  min-width: 25px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  border: solid 1px $grey_dark;
}
