.card-all {
  background-color: #fff;
  border-radius: 35px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 20px;
}

.card-link {
  p {
    color: $grey_dark;
    text-decoration: none;
  }
  h3 {
    color: $grey_dark;
    text-decoration: none;
  }

}

.card-clickable:hover {
  box-shadow: 0 2px 10px rgba(177,205,253,1);
  cursor: pointer;
}

.card-selected {
  border: solid 2px $blue_light;
  background-color: $blue_bkg;
}

.card-large {
  margin: 30px 15px;
}

.card-large-column {
  padding: 0 20px;
}

.card-icon {
  font-size: 26px;
  align-self: center;
  cursor: pointer;
}

.card-square {
  min-width: 220px;
  width: 220px;
  height: 220px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  img {
    margin-bottom: 20px;
  }
  p {
    margin: 0 0 0.5em 0;
    line-height: 1.1em;
  }
}

.card-answer {
  margin: 10px 0;
  align-items: center;
  p {
    margin: 0 0 0 1em;
    line-height: 1.1em;
  }
  a {
    margin-bottom: -5px;
  }
}

.card-answer-link {
  p {
    color: $grey_dark;
  }
  &:hover {
    text-decoration: none;
  }
}

.selector {
  font-size: 25px;
  color: $grey_dark;
}

.card-answer-right {
  box-shadow: 0 2px 10px $green;
}

.card-answer-wrong {
  box-shadow: 0 2px 10px $red-50;
}

.selector-right {
  color: $green;
  font-size: 25px;
}

.selector-wrong {
  color: $red;
  font-size: 25px;
}


