footer {
  background-color: $blue;
  color: $blue_light;
  font-weight:  300;
  padding: 3em 0;
}

footer ul {
  padding-left: 0;

}

footer li {
  padding-right: 10px;
  list-style: none;
}

footer i {
  font-size: 28px;
}

.footer-link {
  color: $blue_light;
  text-decoration: underline;
}

.footer-link:hover {
  color: white;
}

.footer-nav-list {
  min-width: 150px;
  line-height: 2em;
  margin-right: 40px;
  a {
    text-decoration: none;
  }
}

.footer-logo {
  max-width: 300px;
  max-height: 100px;
  object-fit: contain;
}

.footer-first-logo {
  margin-right: 56px;
}

@media (max-width: 1200px) {
  .footer-nav-list {
    margin-right: 20px;
  }
}

@media (max-width: 960px) {
  .footer-flex {
    flex-direction: column !important;
    align-items: center;
  }

  .footer-nav-list {
    margin-right: 40px;
  }

  .footer-origins {
    margin-top: 40px;
  }
}

@media (max-width: 599px) {
  footer {
    text-align: center;
  }

  .footer-nav-list {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .footer-first-logo {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
