.form-control {
  font-family: 'Roboto', sans-serif;
  padding-right: 1rem;
  padding-left: 1rem;
}

textarea {
  resize: none;
}

.country-topic-form {
  max-width: 75%;
}

.pm-form {
  max-width: 40%;
}

.country-topic {
  flex-grow: 1;
}

.country-topic-field {
  width: 50%;
  margin-bottom: 4px;
  margin-right: 10px;
}

.country-topic-submit {
  height: calc(2.8rem + 2px);
  align-self: flex-end;
}

@media (max-width: 880px) {
  .country-topic-form {
    max-width: 100%;
  }

  .pm-form {
    max-width: 60%;
  }
}

@media (max-width: 600px) {
  .country-topic-submit {
    align-self: start;
    margin: 0;
  }

  .pm-form {
    max-width: 100%;
  }
}

.organisation_country {
  margin-right: 10px;
}
@media (max-width: 880px) {
  .organisation_country {
    margin: 0px;
  }
}

.select2-container {
  display: inline;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: $blue;
  border-color: $blue;
  color: white;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: white;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  background-color: $blue-hover;
  color: white
}
