.form-all {
  font-family: 'Roboto', sans-serif;
}

.country-topic-form {
  max-width: 75%;
}

.country-topic {
  flex-grow: 1;
}

.country-topic-field {
  width: 50%;
  margin-bottom: 4px;
  margin-right: 10px;
}

.country-topic-submit {
  height: calc(2em + 0.75rem + 2px);
  align-self: end;
}

@media (max-width: 880px) {
  .country-topic-form {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .country-topic-submit {
    align-self: start;
    margin: 0;
  }
}
