.navbar-all {
  justify-content: space-between;
  font-size: 16px;
  font-weight: 300;
  padding-top: 0;
  padding-bottom: 0;
  li {
    padding-right: 40px;
  }
  a {
    text-decoration: none;
  }
}

.navbar-all .navbar-collapse {
  flex-grow: 0;
}

.navbar-white a {
  color: $blue !important;
  &:hover {
    color: $blue_hover !important;
  }
}

.navbar-white .active {
  border-bottom: 2px solid $blue;
  &:hover {
    border-bottom: 2px solid $blue_hover;
  }
}

.navbar-transp a {
  color: white !important;
  &:hover {
    color: $yellow !important;
  }
}

.navbar-transp .active {
  border-bottom: 2px solid white;
  &:hover {
    border-bottom: 2px solid $yellow;
  }
}

// Overwriting Bootstrap
.navbar-nav-ours {
  align-items: center;
}

.nav-link-ours {
  padding: 1rem 0 !important;
  display: inline-block;
}

.nav-item-ours {
  padding-right: 50px !important;
}

.dropdown-menu-ours {
  // padding: 1.5rem 0;
  border: none;
  a {
    color: $blue !important;
  }
  a:hover {
    color: $blue_hover !important;
  }
}

.dropdown-item-ours:hover {
  background-color: rgba(255, 255, 255, 0);
}

.nav-logo {
  max-width: 180px;
}

@media (max-width: 880px) {
  .navbar-nav-ours {
    align-items: start; // I would like to put end, but looks strange in Desktop
  }

  .nav-link-ours {
    padding: 0.2rem 0 !important;
  }

  .nav-item-ours {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    // padding-right: 10px !important; // if I put end above
  }
}



