.navbar-all {
  justify-content: space-between;
  font-size: 16px;
  font-weight: 300;
  padding-top: 0;
  padding-bottom: 0;
  li {
    padding-right: 40px;
  }
  a {
    text-decoration: none;
  }
}

.navbar-all .navbar-collapse {
  flex-grow: 0;
}

.navbar-white a {
  color: $blue !important;
  &:hover {
    color: $blue_hover !important;
  }
}

.navbar-white .active {
  border-bottom: 2px solid $blue;
  &:hover {
    border-bottom: 2px solid $blue_hover;
  }
}

.navbar-transp a {
  color: white !important;
  &:hover {
    color: $yellow !important;
  }
}

.navbar-transp .active {
  border-bottom: 2px solid white;
  &:hover {
    border-bottom: 2px solid $yellow;
  }
}

// Overwriting Bootstrap
.nav-link-ours {
  padding: 1rem 0 !important;
  display: inline-block;
}

.nav-item-ours {
  padding-right: 50px !important;
}

@media (max-width: 600px) {
  .nav-link-ours {
    padding: 0.2rem 0 !important;
  }

  .nav-item-ours {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
}



