.tab {
  width: 324.4px;
  background-color: #0E52C9;
  border-radius: 30px;
  box-shadow: inset 0px 2px 10px #093581;
  margin: 0 auto;
}

.tab-nonselected {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: $blue-light;
  margin: 0;
}

.tab-selected {
  background-color: #fff;
  border: solid 1px #fff;
  color: $blue;
  margin: 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
