.tag {
  padding: 0 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.tag-light-blue {
  background-color: $blue-bkg;
  color: $blue;
}

@media (max-width: 440px) {
  .tag {
    display: inline-block;
    margin-bottom: 0;
  }
}
