.video {
  width: 100%;
  height: 383px;
  &:hover {
    cursor: pointer;
  }
}

.video-small {
  height: 250px;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 880px) {
  .video-small {
    height: 383px;
  }
}

@media (max-width: 600px) {
  .video {
    height: 306px;
  }

  .video-small {
    height: 250px;
  }
}
