html {
  scroll-behavior: smooth;
}

.container-short {
  max-width: 760px;
  padding: 0 15px; // change to 30px if we manage to change bootstrap padding variable
  margin:  0 auto;
  h2 {
    text-align: center;
  }
}

.container-tiny {
  max-width: 460px;
  padding: 0 15px;
  margin:  0 auto;
  h2 {
    text-align: center;
  }
}

.container-half {
  width: 48%;
}

.container-half img {
  max-height: 350px;
  max-width: 100%;
}

@media (max-width: 880px) {
  .container-half {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }
}
