<main>
  <section class="py-5">
    <div class="container">
      <h1>Create a new Policy Plan or Strategy</h1>
      <h2><mark class="mark-yllw">Policy Plan/Strategy details</mark></h2>
      <%= render 'policy_plans/partials/new_edit_form', policy_plan: @policy_plan %>
      <p class="text-center">Save to then proceed by adding institutions and a timeline, gamebook or goals!</p>
    </div>
  </section>
</main>
